*{
    margin: 0;
}
body{
    max-width: 100vw;
}
a{
    text-decoration: none;
    color: black;
}
/* Head-Bottom Start */
#head, #bottom{
    display: flex;
    align-items: center;

    background-color: white;
    width: 100%;
    position: sticky;
    padding: 5px 0;
}
#head{
    top: 0;
    justify-content: space-between;
    border-bottom: 1px gray solid;
}
#bottom{
    bottom: 0;
    justify-content: space-evenly;
}
#head > *{
    padding: 0 20px;
}
#head h2{
    font-family: cursive;
}
.head-btn , .bottom-btn{
    width: 40px;
    height: 40px;
}
.head-btn img, .bottom-btn img{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}
/* Head-Bottom End */

/* Content Start */
#content{
    height: 800px;
    background-color: gray;
}

/* Post Start */
.post{
    max-width: 100vw;
    background-color: burlywood;
    border-bottom: 2px gray solid;
}
.post-meta{
    background-color: white;
    padding: 5px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-meta-icons-div{
    width: 30px;
    height: 30px;
}
.post img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
/* Post Meta Head Start*/
.post-user{
    display: flex;
    align-items: center;
}
.post-user > *{
    margin-right: 10px;
}
.post-user-img{
    border: 2px black solid;
    border-radius: 50%;
}
/* Post Meta Head End*/
/* Post Meta Bottom Start*/

/* Post Meta Bottom End*/
@media(min-width:600px){
    .post-content{
        height: 350px;
    }
}
/* Post End */
/* Content End */