*{
    margin: 0;
}
body{
    max-width: 100vw;
}
a{
    text-decoration: none;
    color: black;
}
/* Head-Bottom Start */
#head, #bottom{
    display: flex;
    align-items: center;
    z-index: 2;

    background-color: white;
    width: 100%;
    padding: 5px 0;
}
#head{
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px gray solid;
}
#bottom{
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    border-top: 1px gray solid;
}
#head > *{
    padding: 0 20px;
}
#head h2{
    font-family: cursive;
}
.head-btn , .bottom-btn{
    width: 40px;
    height: 40px;
}
.head-btn img, .bottom-btn img{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}
/* Head-Bottom End */

/* Content Start */
#content{
    background-color: gray;
}

/* Post Start */
.post{
    max-width: 100vw;
    background-color: burlywood;
    border-bottom: 1px gray solid;
}
.post-meta{
    background-color: white;
    padding: 5px 10px;
}
.post-meta-icons-div{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.post img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
/* Post Meta Head Start*/
.post-meta-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-user{
    display: flex;
    align-items: center;
}
.post-user-img{
    padding: 2px;
    border: 1px black solid;
    border-radius: 50%;
}
/* Post Meta Head End*/

/* Like Animation Start */
.post-content{
    position: relative;
    /* width: 100%;
    height: 100%; */
}
.ani-like{
    /* display: none !important; */
    position: absolute;
    top: 0;
    transform: scale(0.5);
}
/* Like Animation Ends */

/* Post Meta Bottom Start*/
.post-meta-bottom > div{
    padding-bottom: 5px;
}
.post-meta-bottom-1, .post-meta-bottom-1-1{
    display: flex;
    align-items: center;
}
.post-meta-bottom-1{
    justify-content: space-between;
}
/* Post Meta Bottom End*/
@media(min-width:600px){
    .post-content{
        height: 350px;
    }
}
/* Post End */
/* Content End */
.head-btn:active, 
.post-meta-icons-div:active, 
.bottom-btn:active{
    opacity: 0.2;
    transition: 0.5s ease;
    transform: scale(1.5);
}